.title {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
}

.footer {
    background-color: black;
    font-size: 30px;
    text-align: center;
    color: white;
    height: 100px;
}

.content {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding-bottom: 3%;
}

.center {
    text-align: center;
}

.middle {
    padding-left: 20%;
    padding-right: 20%;
}

.divide {
    border-bottom: 1px solid black;
}

.img {
    position: relative;
}

.menu {
    font-size: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-left: 10%;
}

.admin {
    font-size: 20px;
    padding: 1.5%;
}

.admin-top {
    width: 5%;
    font-size: 20px;
    padding: 1.5%;
}

.search {
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 1%;
    position: relative;
    left: 56%;
    width: 40%;
}

.searchInput {
    width: 30%;
    height: 20px;
}

.searchBtn {
    padding: 4px 7px 4px 7px;
    margin-left: -4px;
}

.searchBtn2 {
    padding: 4px 7px 4px 7px;
    margin-left: 1%;
}

.remove {
    padding: 1%;
    margin: 1%;
    border: 1px solid black;
    position: relative;
}

.rmButton {
    position: absolute;
    right: 0%;
    bottom: 20%;
    width: 120px;
    color: #fff;
	background: #c20000;
}

.upButton {
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 120px;
    color: #000;
	background: #ffdf13;
}

.upButton2 {
    position: absolute;
    right: 0%;
    top: 20%;
    width: 120px;
    color: #000;
	background: #ffdf13;
}

.link {
    color:black;
    text-decoration:none;
}

ul.nav li {
    display: inline-flex;
    width: 19%;
    text-align: center;
}

ul.nav2 li {
    display: inline-flex;
    padding-left: 7%;
    width: 24%;
}

ul.nav3 li {
    display: inline-flex;
    padding-left: 12%;
    width: 35%;
}

.alert {
    text-align: center;
    background-color: indianred;
    padding: 0.5%;
}

.alert-green {
    text-align: center;
    background-color:lightgreen;
    padding: 0.5%;
}

.alert-yellow {
    text-align: center;
    background-color:rgb(255, 255, 126);
    padding: 0.5%;
}

.create {
    position: relative;
    left: 25%;
    width: 50%;
}

.input {
    width: 100%;
}

.btn {
    position: relative;
    left: 35%;
    width: 30%;
	display: inline-block;
	font-size: 14px;
	padding: 17px 30px 16px;
	color: #000;
	background: #49C449;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.fotoAdmin {
    position: relative;
    left: 25%;
    width: 50%;
    margin-top: 150px;
}

.error {
    color:red;
}
